node_modules
tmp
endpoints/certs
file-manager/yarn-error.log
*:Zone.Identifier

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
secrets.env

# agents binaries
dev-agent-bin
build-agent-bin