GITHUB_CLIENT_ID=replace-with-your-app-client-id
GITHUB_CLIENT_SECRET=replace-with-your-app-client-secret
GITHUB_WEBHOOK_SECRET=github-webhook-secret
GITHUB_APP_ID=github-app-id
GITHUB_APP_NAME=github-app-name
STRIPE_KEY=
STRIPE_SECRET=