<script>
/*
__webpack_public_path__ = '/assets/'
jQuery.getJSON('/assets/asset-manifest.json', ( data ) => {
    Object.values(data.files)
        .filter(e => e.endsWith('.js'))
        .forEach(e => {
            jQuery.getScript(e)
        })
})
*/
</script>