<link rel="stylesheet" href="/assets/gitea.css" /> 
<script>
__webpack_public_path__ = '/assets/'
fetch('/assets/asset-manifest.json').then(r => r.json()).then(data => {
     Object.values(data.files)
        .filter(e => e.endsWith('.js'))
        .forEach(e => {
            const script = document.createElement('script')
            script.src = e
            document.head.appendChild(script)
        })
})
</script>